{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block main %}
<form id="form1" method="post">
	{% csrf_token %}

	<div class="row"><h3>查询/变更订单</h3></div>	

	<div class="form">
		<div class="form-group">
			<input type="button" id="btnCancel" class="btn btn-warning" value="放弃">
			<input type="button" id="btnSubmit" class="btn btn-warning" value="提交">
			<input type="hidden" id="hiddenData" name="hiddenData">
		</div>
		<div class="form-inline">
		    <div class="row col-md-12" style="margin-bottom:5px">
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtSalesNo">销售单号</label>
		        <input type="text" class="form-control" id="txtSalesNo"  name="txtSalesNo" >
		      </div>
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtArea">区&nbsp;&nbsp;&nbsp;域</label>
		        <input type="text" class="form-control" id="txtArea" name="txtArea">
		      </div>
		      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
		        <label for="txtSourceAddress">气源地址</label>
		        <input type="text" class="form-control" id="txtSourceAddress" name="txtSourceAddress">
		      </div>
		    </div>
		    <div class="row col-md-12" style="margin-bottom:5px">
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtUnloadDate">卸货日期</label>
		        <input type="date" class="form-control" id="txtUnloadDate" name="txtUnloadDate">
		      </div>
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtSales">销售员</label>
		        <input type="text" class="form-control" id="txtSales" name="txtSales">
		      </div>
		      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
		        <label for="txtClientType">客户类型</label>
		        <input type="text" class="form-control" id="txtClientType" name="txtClientType">
		      </div>
		    </div>
		    <div class="row col-md-12" style="margin-bottom:0px">
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtSalesDate">下单日期</label>
		        <input type="date" class="form-control" id="txtSalesDate" name="txtSalesDate">
		      </div>
		      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
		        <label for="txtSupplier">供应商</label>
		        <input type="text" class="form-control" id="txtSupplier" name="txtSupplier">
		      </div>
		      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
		        <input type="button" class="btn btn-primary col-xs-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-6 col-md-6 col-lg-6" id="btnQuery" value="查询">
		      </div>
		    </div>
		</div>
		<div>&nbsp;</div>
	</div>
	
	<div id="kv-error-1" class="alert alert-warning" style="margin-top:10px;display:none;" role="alert"></div>
	<div id="kv-success-1" class="alert alert-success" style="margin-top:10px;display:none;" role="alert"></div>
	<div id="divResult"></div>
</form>

<script>
	$(document).ready(function(){	    	
		$("#btnQuery").click(function(){
			var salesNo = $('#txtSalesNo').val();
			var area = $('#txtArea').val();
			var sourceAddress = $('#txtSourceAddress').val();
			var unloadDate = $('#txtUnloadDate').val();
			var salesMen = $('#txtSales').val();
			var clientType = $('#txtClientType').val();
			var salesDate = $('#txtSalesDate').val();
			var supplier = $('#txtSupplier').val();

			$.ajax({
				url:'/cghd/getorderinfo',
				type: 'get',
				data: {'salesNo': salesNo, 'area': area, 'sourceAddress': sourceAddress, 'unloadDate': unloadDate, 'salesMen': salesMen, 'clientType': clientType, 'salesDate': salesDate, 'supplier': supplier},
				datatype: 'json',
				success:function(data){
				var data = eval('(' + data + ')');
				var table = '<table class="table table-striped"> '+
						'<tr> '+
							'<th>销售单号</th>'+
							'<th>区域</th>'+
							'<th>客户性质</th>'+
							'<th>客户类型</th>'+
							'<th>客户名称</th>'+
							'<th>卸货日期</th>'+
							'<th>卸货时间</th>'+
							'<th>卸货地址</th>'+							
							// '<th>供应商ID</th>'+
							'<th>供应商</th>'+
							'<th>气源地</th>'+
							'<th>票制</th>'+
							// '<th>承运商ID</th>'+
							'<th>毛利</th>'+							
							'<th>挂牌价格</th>'+
							'<th>采购单价</th>'+
							'<th>销售单价</th>'+
							'<th>运输单价</th>'+
							'<th>吨公里价</th>'+
							'<th>运输距离</th>'+
							'<th>承运公司</th>'+
							'<th>装货日期</th>'+
							'<th>牵引车号</th>'+
							'<th>槽罐车号</th>'+
							'<th>驾驶员</th>'+
							'<th>驾驶手机</th>'+
							'<th>押运员</th>'+
							'<th>司押手机</th>'+
							'<th>销售员</th>'+
							'<th>下单日期</th>'+
							'<th class="dbclicktd">订单状态</th>'+							
							'<th>备注</th>'+
							'<th style="display:none;">id</th>'+
						'</tr> ';
			    for(var i=0; i<data.length; i++) {
					table += '<tr> '+
							'<td>' + data[i]["Order_No"] + '</td>'+
							'<td>' + data[i]["Area"] + '</td>'+
							'<td>' + data[i]["In_Out"] + '</td>'+
							// '<td>' + data[i]["C_ID"] + '</td>'+
							'<td>' + data[i]["C_Type"] + '</td>'+
							'<td>' + data[i]["C_BriefName"] + '</td>'+
							'<td>' + data[i]["Unload_Date"] + '</td>'+
							'<td>' + data[i]["Unload_Time"] + '</td>'+
							'<td>' + data[i]["Unload_Address"] + '</td>'+
							'<td>' + data[i]["S_BriefName"] + '</td>'+
							'<td>' + data[i]["Source_Address"] + '</td>'+
							'<td>' + data[i]["Trade_Type"] + '</td>'+
							'<td>' + data[i]["Gap_Price"] + '</td>'+
							'<td>' + data[i]["GP_Price"] + '</td>'+
							'<td>' + data[i]["CG_Price"] + '</td>'+
							'<td>' + data[i]["Sales_Price"] + '</td>'+
							'<td>' + data[i]["Transport_Price"] + '</td>'+
							'<td>' + data[i]["DGL_Price"] + '</td>'+
							'<td>' + data[i]["Transport_Distance"] + '</td>'+
							'<td>' + data[i]["Carrier_BriefName"] + '</td>'+
							'<td>' + data[i]["Load_Date"] + '</td>'+
							'<td>' + data[i]["Tractor_No"] + '</td>'+
							'<td>' + data[i]["Tank_No"] + '</td>'+
							'<td>' + data[i]["Driver"] + '</td>'+
							'<td>' + data[i]["Tele_No"] + '</td>'+
							'<td>' + data[i]["Supercargo"] + '</td>'+
							'<td>' + data[i]["Tele_No"] + '</td>'+
							'<td>' + data[i]["Salesmen"] + '</td>'+
							'<td>' + data[i]["Create_Date"] + '</td>'+
							'<td class="dbclicktd">' + data[i]["State"] + '</td>'+
							'<td>' + data[i]["Dispatch_Mark"] + '</td>'+
							'<td style="display:none;">' + data[i]["id"] + '</td>'+
						'</tr>';
				}

				table += '</table';
							
				$("#divResult").html(table);	
				$('#kv-success-1').html("查询成功, 共有 " + data.length + " 条记录");
				$('#kv-success-1').fadeIn('show').fadeOut(3000);
				},
				error:function(err){
					console.log(err);
				}
			})	   	
		});
	});
</script>

{% endblock %}