
<div class="form">
	<div class="form-inline">
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSalesNo">销售单号</label>
	        <input type="text" class="form-control" id="txtSalesNo"  name="txtSalesNo" >
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtArea">区&nbsp;&nbsp;&nbsp;域</label>
	        <input type="text" class="form-control" id="txtArea" name="txtArea">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtSourceAddress">气源地址</label>
	        <input type="text" class="form-control" id="txtSourceAddress" name="txtSourceAddress">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadDate">卸货日期</label>
	        <input type="date" class="form-control" id="txtUnloadDate" name="txtUnloadDate">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSales">销售员</label>
	        <input type="text" class="form-control" id="txtSales" name="txtSales">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtClientType">客户类型</label>
	        <input type="text" class="form-control" id="txtClientType" name="txtClientType">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:0px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSalesDate">下单日期</label>
	        <input type="date" class="form-control" id="txtSalesDate" name="txtSalesDate">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSupplier">供应商</label>
	        <input type="text" class="form-control" id="txtSupplier" name="txtSupplier">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <input type="button" class="btn btn-primary col-xs-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-6 col-md-6 col-lg-6" id="btnQuery" value="查询">
	      </div>
	    </div>
	</div>
	<div>&nbsp;</div>
</div>
