{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block title %}首页{% endblock%}
{% block main %}
<div id='preview'>
{# 	<img src="{% static 'imgs/loader.gif' %}" id="imgLoading" alt="Uploading...." /> #}
</div>
{# action="upload/"  method="post" enctype="multipart/form-data" #}
{# <form id="formExcelUpload" > #}
	{% csrf_token %}

<div class="form">
	<input id="input-b2" name="upfile" type="file" class="file" data-show-preview="false" data-allowed-file-extensions='["csv", "xls", "xlsx"]' data-show-upload="false">
	<input type="button" id="btnUploadImg" class="btn btn-primary" value="Upload">
</div>

<div id="divResult"></div>


	<script type="text/javascript">

		$("#btnUploadImg").on('click', function(e){
			console.log('btnsubmit click');
			var fileName = $(".file-caption-name").attr("title");
			$.ajax({
				url:'upload/',
				type:'post',
				data: fileName,
				datatype:'json',
				enctype: 'multipart/form-data',
				success:function(data){
					console.log(data);
					console.log(typeof(data));
					data = eval('('+data+')');
					var table = '<table class="table table-striped"> '+
									'<tr> '+
										'<th>工号</th> '+
										'<th>姓名</th> '+
										'<th>性别</th> '+
										'<th>部门</th> '+
										'<th>邮箱</th> '+
										'<th>电话</th> '+
									'</tr> ';
					    for(var i=0; i<data.length; i++) {
							table += '<tr> '+
										'<td>'+ data[i].EmpNo +'</td> '+
										'<td>'+ data[i].Name +'</td> '+
										'<td>'+ data[i].Sex +'</td> '+
										'<td>'+ data[i].DeptNo +'</td> '+
										'<td>'+ data[i].EmailAddress +'</td> '+
										'<td>'+ data[i].MobileNo +'</td> '+
									'</tr> ';
						}

						table += '</table';
									
						$("#divResult").html(table);	
					console.log('ss');
				},
				error:function(err){
					console.log(err);
				}
			});
		});

	</script>

{# </form> #}

{% endblock %}