{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block main %}

<form id="form1" method="post">
	{% csrf_token %}
<div class="row"><h3>创建销售订单</h3></div>	

<div class="form">
	{% include 'cghd/operationbutton.html' %}
	<div class="form-inline">
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtClientName">客户名称<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtClientName">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSupplier">供应商<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtSupplier">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtPOPrice">采购单价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="number" class="form-control required" id="txtPOPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadAddress">卸气地址<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtUnloadAddress">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSourceAddress">气源&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtSourceAddress">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtSalesPrice">销售单价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="number" class="form-control required" id="txtSalesPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadDate">卸货日期<span class="required_asterisk">*</span></label>
	        <input type="text" maxlength="10" class="form-control required datepicker" id="txtUnloadDate" placeholder="2017-12-25">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtTradeType">票制&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <select id="selTradeType" class="form-control required">
	        	<option value="">请选择</option>
	        	<option value="一票">一票</option>
	        	<option value="两票">两票</option>
	        	<option value="自提">自提</option>
	        </select>
	        {# <input type="text" class="form-control required" id="txtTradeType"> #}
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtDGLPrice">吨公里/运价<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtDGLPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadTime">卸货时间<span class="required_asterisk">*</span></label>
	        <input type="text" maxlength="5" class="form-control required" id="txtUnloadTime" placeholder="16:00">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtGPPrice">挂牌价<span class="required_asterisk">*</span></label>
	        <input type="number" class="form-control required" id="txtGPPrice">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtYJDistance">运输距离&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="number" class="form-control required" id="txtYJDistance">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:0px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSales">销售员&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" id="txtSales">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label>&nbsp;</label>
	        <input type="hidden" class="form-control" placeholder="">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtDFXCost">吨分卸费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required_asterisk">*</span></label>
	        <input type="number" class="form-control required" id="txtDFXCost">
	      </div>
          <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10">
	        <input tabindex="1" type="button" id="btnCreate" class="btn btn-lg btn-primary" value="创建订单">
	      </div>
	    </div>
		<div class="row col-md-12" style="margin-top:-10px; margin-bottom:5px;">
	      <div class="form-group input-group-sm col-xs-10 col-md-10 col-lg-10">
	        <label for="txtDispatchMark">备注信息<span class="required_asterisk">*</span></label>
	        <input type="text" class="form-control required" style="width:83%;" id="txtDispatchMark">
	      </div>
	    </div>
	</div>
	<div>&nbsp;</div>
</div>

{% include 'cghd/kvmsg.html' %}
</form>
<script type="text/javascript" src="{% static 'cghd/js/salesorder.js' %}"></script>

{% endblock %}