{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block main %}

<form id="form1" method="post">
	{% csrf_token %}
{% if msg %}
	<h2>{{msg}}</h2>
{% endif %}
<div class="row"><h3>创建销售订单</h3></div>	

<div class="form">
	<div class="form-group">
		<input type="button" id="btnCancel" class="btn btn-warning" value="放弃">
		<input type="button" id="btnSubmit" class="btn btn-warning" value="提交">
		<input type="hidden" id="hiddenData" name="hiddenData">
	</div>
	<div class="form-inline">
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtClientName">客户名称</label>
	        <input type="text" class="form-control" id="txtClientName">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSupplier">供应商</label>
	        <input type="text" class="form-control" id="txtSupplier">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtPOPrice">采购单价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	        <input type="number" class="form-control" id="txtPOPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadAddress">卸气地址</label>
	        <input type="text" class="form-control" id="txtUnloadAddress">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSourceAddress">气源&nbsp;&nbsp;&nbsp;</label>
	        <input type="text" class="form-control" id="txtSourceAddress">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtSalesPrice">销售单价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	        <input type="number" class="form-control" id="txtSalesPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadDate">卸货日期</label>
	        <input type="text" class="form-control" id="txtUnloadDate">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtTradeType">票制&nbsp;&nbsp;&nbsp;</label>
	        <select id="selTradeType" class="form-control">
	        	<option value="">请选择</option>
	        	<option value="一票">一票</option>
	        	<option value="两票">两票</option>
	        	<option value="自提">自提</option>
	        </select>
	        {# <input type="text" class="form-control" id="txtTradeType"> #}
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtDGLPrice">吨公里/运价</label>
	        <input type="text" class="form-control" id="txtDGLPrice">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:5px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtUnloadTime">卸货时间</label>
	        <input type="text" class="form-control" id="txtUnloadTime">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtGPPrice">挂牌价</label>
	        <input type="number" class="form-control" id="txtGPPrice">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtYJDistance">运输距离&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	        <input type="number" class="form-control" id="txtYJDistance">
	      </div>
	    </div>
	    <div class="row col-md-12" style="margin-bottom:0px">
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label for="txtSales">销售员&nbsp;&nbsp;&nbsp;</label>
	        <input type="text" class="form-control" id="txtSales">
	      </div>
	      <div class="form-group input-group-sm col-xs-3 col-md-3 col-lg-3">
	        <label>&nbsp;</label>
	        <input type="hidden" class="form-control" placeholder="">
	      </div>
	      <div class="form-group input-group-sm col-xs-4 col-md-4 col-lg-4">
	        <label for="txtDFXCost">吨分卸费&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
	        <input type="number" class="form-control" id="txtDFXCost">
	      </div>
          <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10">
	        <input tabindex="1" type="button" id="btnCreate" class="btn btn-lg btn-primary" value="创建订单">
	      </div>
	    </div>
		<div class="row col-md-12" style="margin-top:-10px; margin-bottom:5px;">
	      <div class="form-group input-group-sm col-xs-10 col-md-10 col-lg-10">
	        <label for="txtDispatchMark">备注信息</label>
	        <input type="text" class="form-control" style="width:83%;" id="txtDispatchMark">
	      </div>
	    </div>
	</div>
	<div>&nbsp;</div>
</div>

<div id="kv-error-1" class="alert alert-warning" style="margin-top:10px;display:none;" role="alert"></div>
<div id="kv-success-1" class="alert alert-success" style="margin-top:10px;display:none;" role="alert"></div>
<div id="divResult"></div>
</form>
<script>	
	 $("#btnCreate").click(function(){
	 	// 1.验证
	 	if(!$.isNumeric($('#txtDGLPrice').val())){
	 		alert("吨公里价只能是整数或小数");
	 		$('#txtDGLPrice').focus().select();
	 		return false;
	 	}
	 	// 2.业务 	
	 	$("#btnCreate").prop("disabled", "disabled");
	 	buildData();
	 	$("#btnCreate").prop("disabled", false);
	});
	function buildData(){
		var d = new Date();
		var year = d.getFullYear();
		var month = d.getMonth() + 1;
		var day = d.getDate();
		var sMonth = ("00"+month.toString()).slice(-2);
		var sDay =  ("00"+day.toString()).slice(-2);
		var now = year.toString() + sMonth + sDay;

		var th = '<table class="table table-striped"> '+
				'<tr> '+
					'<th>销售单号</th> '+
					'<th>区域</th> '+
					'<th>客户性质</th> '+
					'<th>客户类型</th> '+
					'<th>客户名称</th> '+
					'<th style="display:none;">客户ID</th> '+
					'<th>卸气地址</th> '+
					'<th>卸货日期</th> '+
					'<th>卸货时间</th> '+
					'<th>供应商</th> '+
					'<th style="display:none;">供应商ID</th> '+
					'<th>气源</th> '+
					'<th>票制</th> '+
					'<th>毛利</th> '+
					'<th>挂牌价格</th> '+
					'<th>采购单价</th> '+
					'<th>销售单价</th> '+
					'<th>运输单价</th> '+
					'<th>吨公里价</th> '+
					'<th>运输距离</th> '+
					'<th>吨分卸费</th> '+
					'<th>销售员</th> '+
					'<th>下单日期</th> '+
					'<th>订单状态</th> '+
					'<th>备注</th> '+
				'</tr> ';
		
		var salesNo = now + "0001";
	 	var area = "华东";
	 	var inOut = "外部";
	 	var clientType = "城市燃气";
	 	var clientName = $("#txtClientName").val();
	 	var clientID = "Client00001";
	 	var unloadAddress = $("#txtUnloadAddress").val();
	 	var unloadDate = $("#txtUnloadDate").val();
	 	var unloadTime = $("#txtUnloadTime").val();
	 	var supplier = $("#txtSupplier").val();
	 	var supplierID = "Supplier00001";
	 	var sourceAddress = $("#txtSourceAddress").val();
	 	var tradeType = $("#selTradeType").val();
	 	
	 	var gpPrice = $("#txtGPPrice").val();
	 	var poPrice = $("#txtPOPrice").val();
	 	var salesPrice = $("#txtSalesPrice").val();
	 	
	 	var dglPrice = $("#txtDGLPrice").val();
	 	var yjDistance = $("#txtYJDistance").val();
	 	var dfxCost = $("#txtDFXCost").val();
	 	// 运输单价=（吨公里价*运输距离）+吨分卸费
	 	var ysPrice = (dglPrice * yjDistance) + Number(dfxCost) ;
	 	// 毛利 = 销售单价-采购单价-运输单价
	 	var gapPrice = salesPrice - poPrice - ysPrice;
	 	var sales = $("#txtSales").val();
	 	var createDate = year.toString() + "-" + sMonth + "-" + sDay;
	 	var status = "有效";
	 	var remark = $("#txtDispatchMark").val();
		var table = $("table") || [];
		
		if(table.length>0){
			salesNo = now + ("0000" + $("table tr").length.toString()).slice(-4);
		}
		tr = '<tr> '+
					'<td>' + salesNo + '</td>' +
					'<td>' + area + '</td>' +
					'<td>' + inOut + '</td>' +
					'<td>' + clientType + '</td>' +
					'<td style="display:none;">' + clientID + '</td>' +
					'<td>' + clientName + '</td>' +
					'<td>' + unloadAddress + '</td>' +
					'<td>' + unloadDate + '</td>' +
					'<td>' + unloadTime + '</td>' +
					'<td style="display:none;">' + supplierID + '</td>' +
					'<td>' + supplier + '</td>' +
					'<td>' + sourceAddress + '</td>' +
					'<td>' + tradeType + '</td>' +
					'<td>' + gapPrice + '</td>' +
					'<td>' + gpPrice + '</td>' +
					'<td>' + poPrice + '</td>' +
					'<td>' + salesPrice + '</td>' +
					'<td>' + ysPrice + '</td>' +
					'<td>' + dglPrice + '</td>' +
					'<td>' + yjDistance + '</td>' +
					'<td>' + dfxCost + '</td>' +
					'<td>' + sales + '</td>' +
					'<td>' + createDate + '</td>' +
					'<td>' + status + '</td>' +
					'<td>' + remark + '</td>' +
			'</tr> ';
		if (table.length > 0){
			table = $("table").append(tr);
		}else{
			table = th + tr + '</table';
		}

		$("#divResult").html(table);	
		$("#hiddenData").val($("#divResult").html());
		$('#kv-success-1').html("创建订单成功");
		$('#kv-success-1').fadeIn('show').fadeOut(3000);
	}
</script>

{% endblock %}