{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block main %}
<div id='preview'>
{# 	<img src="{% static 'imgs/loader.gif' %}" id="imgLoading" alt="Uploading...." /> #}
</div>
{# action="upload/"  method="post" enctype="multipart/form-data" #}
{# <form id="formExcelUpload" method="post" action="/cghd/uploadMaster/" > #}
	{% csrf_token %}

<div class="row"><h3>销售结构报表</h3></div>	

<div id="kv-error-1" style="margin-top:10px;display:none;">error</div>
<div id="kv-success-1" class="alert alert-success" style="margin-top:10px;display:none;">success</div>
<div id="divResult"></div>
<script>
    $("document").ready(function(e){
      $.ajax({
        url:'/cghd/getsalesdata/',
        type:'post',
        datatype:'json',
        success:function(data){
          console.log(data);
          console.log(typeof(data));
          data = eval('('+data+')');
          var table = '<table class="table table-striped"> '+
                  '<tr> '+
                    '<th>区域</th> '+
                    '<th>贸易商数量</th> '+
                    '<th>贸易商供应量</th> '+
                    '<th>城燃客户数量</th> '+
                    '<th>城燃客户供应量</th> '+
                    '<th>工业客户数量</th> '+
                    '<th>工业客户供应量</th> '+
                    '<th>加气站客户数量</th> '+
                    '<th>加气站客户供应量</th> '+
                    // '<th>气源地</th> '+
                    // '<th>承运商ID</th> '+
                  '</tr> ';
              for(var i=0; i<data.length; i++) {
              table += '<tr> '+
                    '<td>' + data[i]["Area"] + '</td> '+
                    '<td>' + data[i]["Cnt_Trade"] + '</td> '+
                    '<td>' + data[i]["Sum_Trade"] + '</td> '+
                    '<td>' + data[i]["Cnt_City"] + '</td> '+
                    '<td>' + data[i]["Sum_City"] + '</td> '+
                    '<td>' + data[i]["Cnt_Industry"] + '</td> '+
                    '<td>' + data[i]["Sum_Industry"] + '</td> '+
                    '<td>' + data[i]["Cnt_Gas"] + '</td> '+
                    '<td>' + data[i]["Sum_Gas"] + '</td> '+
                    // '<td>' + data[i]["气源地"] + '</td> '+
                    // '<td>' + data[i]["承运商ID"] + '</td> '+         
                  '</tr> ';
            }

            table += '</table';
                  
            $("#divResult").html(table);  
        },
        error:function(err){
          console.log(err);
        }
      });
    });
</script>
{% endblock %}