{% extends 'cghd/base.html' %}
{% load staticfiles %}
{% block main %}
<div id='preview'>
{# 	<img src="{% static 'imgs/loader.gif' %}" id="imgLoading" alt="Uploading...." /> #}
</div>
{# action="upload/"  method="post" enctype="multipart/form-data" #}
{# <form id="formExcelUpload" method="post" action="/cghd/uploadMaster/" > #}
	{% csrf_token %}

<div class="row"><h3>上传销售数据</h3></div>	

<div class="form">
	<input id="input-b2" name="upfile" type="file" class="file" data-show-preview="false" data-allowed-file-extensions='["csv", "xls", "xlsx"]' data-show-upload="true">
	<br>
	{# <input type="button" id="btnUploadImg" class="btn btn-primary" value="Upload"> #}
</div>

<div id="kv-error-1" style="margin-top:10px;display:none;">error</div>
<div id="kv-success-1" class="alert alert-success" style="margin-top:10px;display:none;">success</div>
<div id="divResult"></div>


<script>
	 $("#input-b2").fileinput({
	    uploadUrl: "/cghd/uploadSalesData/",
	    uploadAsync: true,
	    showPreview: false,
	    allowedFileExtensions: ["csv", "xls", "xlsx"],
	    maxFileCount: 1,
	    elErrorContainer: '#kv-error-1'
	}).on('filebatchpreupload', function(event, data, id, index) {
	    $('#kv-success-1').html('<h4>Upload Status</h4><ul></ul>').hide();
	    console.log('filebatchpreupload');
	    console.log(data.response);
	}).on('fileuploaded', function(event, data, id, index){
		console.log('fileuploaded');
		console.log(data);
	}).on('fileloaded', function(event, data, id, index) {
		console.log('hello.............');
		console.log('fileloaded');
		console.log(data.response);
		$('#kv-success-1').html("请点击取消或上传按钮");
	    $('#kv-success-1').fadeIn('slow');
	}).on('filebatchuploaderror', function(err){
		console.log('filebatchuploaderror');
		console.log(err);
	}).on('filebatchuploadsuccess', function(event, data, id, index){
		console.log('filebatchuploadsuccess');
		var data = data.response;
		var table = '<table class="table table-striped"> '+
						'<tr> '+
							'<th>交易日期</th> '+
							'<th>客户名称</th> '+
							'<th>区域</th> '+
							'<th>客户类型</th> '+
							'<th>市场类型</th> '+
							'<th>销售单价</th> '+
							'<th>气源地</th> '+
							'<th>销售结算量（吨）</th> '+
							'<th>毛利</th> '+
							'<th>销售员</th> '+
						'</tr> ';
		    for(var i=0; i<data.length; i++) {
				table += '<tr> '+
							'<td>' + data[i]["交易日期"] + '</td> '+
							'<td>' + data[i]["客户名称"] + '</td> '+
							'<td>' + data[i]["区域"] + '</td> '+
							'<td>' + data[i]["客户类型"] + '</td> '+
							'<td>' + data[i]["市场类型"] + '</td> '+
							'<td>' + data[i]["销售单价"] + '</td> '+
							'<td>' + data[i]["气源地"] + '</td> '+
							'<td>' + data[i]["销售结算量（吨）"] + '</td> '+
							'<td>' + data[i]["毛利"] + '</td> '+
							'<td>' + data[i]["销售员"] + '</td> '+
						'</tr> ';
			}

			table += '</table';
						
		$("#divResult").html(table);	
		$('#kv-success-1').html("上传成功");
		$('#kv-success-1').fadeIn('show').fadeOut(5000);
	}).on('filebatchuploadcomplete', function(event, data, id, index){
		console.log('filebatchuploadcomplete');
		console.log(data);
	});
</script>

{% endblock %}